
/*fonts*/
@font-face {
    font-family: 'ChunkFive';
    src: url('/static/fonts/Chunkfive.otf');
}

@font-face {
    font-family: 'Bitter-Bold';
    src: url('/static/fonts/Bitter-Bold.otf');
}

@font-face {
    font-family: 'Bitter-Regular';
    src: url('/static/fonts/Bitter-Regular.otf');
}

/*navbar styling*/
.container-fluid, .modal-header {
    background-color: #81e6ae;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus, .modal-header {
    color: #2ba4a6;
    font-family: 'ChunkFive';
    font-size: 2.7em;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
}

.navbar {
        margin: 0;
        border: 0;
}

.btn-primary, .btn-primary.active, .btn-primary.focus, .btn-primary:active, 
.btn-primary:focus, .btn-primary:hover, .open >.dropdown-toggle.btn-primary,
.btn.btn-info.btn-lg {
    border-color: #2ba4a6;
    background-color: #2ba4a6;
    border-radius: 6px;
}

.dropdown-menu, .dropdown-menu>li>a {
    background-color: #2ba4a6;
    color: white;
    text-align: center;
}

button.btn.btn-primary.dropdown-toggle, .btn.btn-info.btn-lg {
    margin: 10px;
    padding: 8px 15px 8px 15px;
    vertical-align: middle;
}

.modal-dialog {
    width: 30%;
}

.modal-title {
    font-size: 1em;
}

.modal-header {
    padding: 5px 10px 0 10px;
}

.modal-content {
    text-align: center;
}

.login-welcome {
    font-family: "Bitter-Regular";
    color: #2ba4a6;
}

.signin-buttons {
    background-color: #2ba4a6;
    border: 0;
    width: 30px;
    height: 30px;
    display: inline;
    border-radius: 2px;
}

.fa.signin, .fa-search {
    color: white;
    display: inline;
}

#loginpassword, #loginemail {
    width: 170px;
    height: 30px;
    display: inline;
    padding: 0;
    margin: 0;
}

#login-error {
    color: #8e8e8e;
    font: Helvetica;
}


/*footer*/
.footsie {
    background-color: #2ba4a6;
    bottom: 0;
    width: 100%;
}

.footer-text {
    text-align: right;
    color: white;
    font-family: Helvetica;
    margin: .75em .5em;
    padding-right: 0;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before,
.btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before,
.container-fluid:after, .container-fluid:before, .container:after, .container:before,
.dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after,
.form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before,
.nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before,
.navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before,
.pager:after, .pager:before, .panel-body:after, .panel-body:before,
.row:after, .row:before {
    display: table;
    content: " ";
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after,
.container-fluid:after, .container:after, .dl-horizontal dd:after,
.form-horizontal .form-group:after, .modal-footer:after, .nav:after,
.navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after,
.panel-body:after, .row:after {
    clear: both;
}

/*homepage*/
.jumbotron {
    background: url("/static/images/table.jpg") center center;
    background-size: cover;
    text-align: center;
    font-family: 'Bitter-Bold';
    color: white;
    margin: 0;
    padding: 80px;
}

.jumbotron>h1 {
    font-size: 80px;
    margin: 0;
}

.jumbotron>hr {
    border: 2.5px solid white;
    width: 50%;
    margin-top: 40px;
}

.get-started-button, .get-started-button:hover, .get-started-text,
.get-started-text:hover, .newrecipe, #newrecipe, #add-more, .confirmrecipe {
    background-color: #81e6ae;
    color: white;
    font-family: Helvetica;
    border: 0;
    border-radius: 18px;
    padding-left: 16px;
    padding-right: 16px;
}

.blue-title {
    color: #2ba4a6;
    font-family: 'Bitter-Regular';
    text-align: center;
    margin: 40px;
    font-size: 50px;
}

.eatablelogo {
    color: #2ba4a6;
    font-family: 'ChunkFive';
}

.homepage-icons {
    color: #2ba4a6;
}

table {
    table-layout: fixed;
    margin: 0 auto;
    width: 100%
}


td {
    width: 33%;
    text-align: center;
    padding: 0;
    word-wrap: break-word;
    font-family: "Bitter-Regular";
    font-size: 20px;
}

.snippet {
    background-color: transparent;
    padding: 50px 15px 200px 15px;
}

i.fa.fa-book.fa-5x.homepage::before, i.fa.fa-users.fa-5x.homepage::before,
i.fa.fa-shopping-cart.fa-5x.homepage::before {
    background-color: #81e6ae;
    padding: .3em;
    border-radius: 50%;
    margin: .8em .3em;
}


/*recipe home styling*/
#newrecipe, #add-more, .confirmrecipe {
    padding: 5px 0;
}

.recipebox {
    color: #2ba4a6;
    margin: 0 auto;
    width: 60%;
    border: .1em solid gray;
    border-radius: 10px;
}

#recipelist>li>a {
    color: #2ba4a6;
    font-family: "Bitter-Regular";
    font-size: 1.2em;
}


#recipelist>li>hr {
    border: 50% solid gray;
    margin: 7px;
}


.myrecipes {
    color: #2ba4a6;
    font-family: 'Bitter-Regular';
    width: 60%;
    font-size: 2em;
    padding-left: 20px;
}

.recipe-options {
    width: 60%;
    margin: 0 auto;
}

.newrecipe {
    float: left;
}

#searchform {
    float: right;
}

#searchbox {
    height: 40px;
}

#searchbutton {
    width: 40px;
    height: 40px;
    background-color: #2ba4a6;
    border: 0px;
    border-radius: 2px;
}

.twitter-typeahead, .tt-input {
    display: inline !important;
}


.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 15px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}


/*add new recipe styling*/
#new-recipe-form, .recipe-info {
    width: 90%;
    margin: 0 auto;
}

.blue-subtitle {
    color: #2ba4a6;
    font-family: 'Bitter-Regular';
    font-size: 2em;
}

.ing-header {
    color: #2ba4a6;
    font-family: 'Bitter-Regular';
    font-size: 1.1em;
}

.backtrack {
    color: #2ba4a6;
    padding: 2em;
}

/*recipe data*/

svg {
    width: 100%;
    height: 50%;
}

circle {
    fill: #81e6ae;
}

circle:hover {
    fill: #2ba4a6;
}
