
/*fonts*/
@font-face {
    font-family: 'ChunkFive';
    src: url('/static/fonts/Chunkfive.otf');
}

@font-face {
    font-family: 'Bitter-Bold';
    src: url('/static/fonts/Bitter-Bold.otf');
}

@font-face {
    font-family: 'Bitter-Regular';
    src: url('/static/fonts/Bitter-Regular.otf');
}

/*navbar styling*/
.container-fluid, .modal-header {
    background-color: #81e6ae;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus, .modal-header {
    color: #2ba4a6;
    font-family: 'ChunkFive';
    font-size: 2.7em;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
}

.navbar {
        margin: 0;
        border: 0;
}

.btn-primary, .btn-primary.active, .btn-primary.focus, .btn-primary:active, 
.btn-primary:focus, .btn-primary:hover, .open >.dropdown-toggle.btn-primary,
.btn.btn-info.btn-lg {
    border-color: #2ba4a6;
    background-color: #2ba4a6;
    border-radius: 6px;
}

.dropdown-menu, .dropdown-menu>li>a {
    background-color: #2ba4a6;
    color: white;
    text-align: center;
}

button.btn.btn-primary.dropdown-toggle, .btn.btn-info.btn-lg {
    margin: 10px;
    padding: 8px 15px 8px 15px;
    vertical-align: middle;
}

.modal-dialog {
    width: 30%;
}

.modal-title {
    font-size: 1em;
}

.modal-header {
    padding: 5px 10px 0 10px;
}

.modal-content {
    text-align: center;
}

.login-welcome {
    font-family: "Bitter-Regular";
    color: #2ba4a6;
}

.signin-buttons, .deleteing {
    background-color: #2ba4a6;
    border: 0;
    width: 30px;
    height: 30px;
    display: inline;
    border-radius: 2px;
}

.fa.signin, .fa-search, .signup-icon, .trash-ing {
    color: white;
    display: inline;
}

#loginpassword, #loginemail {
    width: 170px;
    height: 30px;
    display: inline;
    padding: 0;
    margin: 0;
}

#login-error {
    color: #8e8e8e;
    font: Helvetica;
}


/*footer*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 3em;
}

.footsie {
    position: absolute;
    background-color: #2ba4a6;
    bottom: 0;
    width: 100%;
    height: 3em;
}

.footer-text {
    text-align: right;
    color: white;
    font-family: Helvetica;
    margin: .75em .25em;
    padding-right: 0;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before,
.btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before,
.container-fluid:after, .container-fluid:before, .container:after, .container:before,
.dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after,
.form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before,
.nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before,
.navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before,
.pager:after, .pager:before, .panel-body:after, .panel-body:before,
.row:after, .row:before {
    display: table;
    content: " ";
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after,
.container-fluid:after, .container:after, .dl-horizontal dd:after,
.form-horizontal .form-group:after, .modal-footer:after, .nav:after,
.navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after,
.panel-body:after, .row:after {
    clear: both;
}

/*homepage*/
.jumbotron {
    background: url("/static/images/table.jpg") center center;
    background-size: cover;
    text-align: center;
    font-family: 'Bitter-Bold';
    color: white;
    margin: 0;
    padding: 80px;
}

.jumbotron>h1 {
    font-size: 80px;
    margin: 0;
}

.jumbotron>hr {
    border: 2.5px solid white;
    width: 50%;
    margin-top: 40px;
}

.get-started-button, .get-started-button:hover, .get-started-text,
.get-started-text:hover, .newrecipe, #newrecipe, .confirmrecipe, .confirmcart {
    background-color: #81e6ae;
    color: white;
    font-family: Helvetica;
    border: 0;
    border-radius: 18px;
    padding-left: 16px;
    padding-right: 16px;
}

.blue-title {
    color: #2ba4a6;
    font-family: 'Bitter-Regular';
    text-align: center;
    margin: 40px;
    font-size: 50px;
}

.eatablelogo {
    color: #2ba4a6;
    font-family: 'ChunkFive';
}

.homepage-icons, .fa.fa-shopping-cart.fa-5x.homepage, .fa.fa-thumbs-o-up.fa-5x.homepage,
.fa.fa-search.fa-5x.homepage {
    color: #2ba4a6;
}

table {
    table-layout: fixed;
    margin: 0 auto;
    width: 100%
}


td {
    width: 33%;
    text-align: center;
    padding: 0;
    word-wrap: break-word;
    font-family: "Bitter-Regular";
    font-size: 20px;
}

.snippet {
    background-color: transparent;
    padding: 50px 15px 200px 15px;
}

i.fa.fa-book.fa-5x.homepage::before, i.fa.fa-users.fa-5x.homepage::before,
i.fa.fa-shopping-cart.fa-5x.homepage::before, i.fa.fa-search.fa-5x.homepage::before,
i.fa.fa-thumbs-o-up.fa-5x.homepage::before {
    background-color: #81e6ae;
    padding: .3em;
    border-radius: 50%;
    margin: .8em .3em;
}

/*signup page styling*/
.tagline {
    color: #2ba4a6;
    font-family: 'Bitter-Regular';
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 40px;
}

input.signup {
    width: 80%;
    height: 30px;
    display: inline;
    margin: 0 auto;
}

.signup-field {
    margin: 0 auto;
    padding: 0;
    display: inline;
}

#signup, #editprofile {
    margin: 0 auto;
    width: 50%;
}

.signup-form {
    width: 100%;
    margin: 0 auto;
    display: inline;
}

#signup-submit {
    padding: 8px 20px;
    font-size: 1em;
    margin: 0 auto;
}

#email-error, #password1-error, #passwordcheck-error, #phone-error,
#recipetitle-error, #instructions-error, #hashtags-error {
    color: #8e8e8e;
    display: block;
}

/*recipe home styling*/
#newrecipe, #add-more, .confirmrecipe {
    padding: 5px 0;
}

.recipebox {
    color: #2ba4a6;
    margin: 0 auto;
    width: 60%;
    border: .1em solid gray;
    border-radius: 10px;
}

#recipelist>li>a {
    color: #2ba4a6;
    font-family: "Bitter-Regular";
    font-size: 1.2em;
}


#recipelist>li>hr {
    border: 50% solid gray;
    margin: 7px;
}


.myrecipes {
    color: #2ba4a6;
    font-family: 'Bitter-Regular';
    width: 60%;
    font-size: 2em;
    padding-left: 20px;
}

.recipe-options {
    width: 60%;
    margin: 0 auto;
}

.newrecipe {
    float: left;
}

#searchform {
    float: right;
}

#searchbox {
    height: 40px;
}

#searchbutton {
    width: 40px;
    height: 40px;
    background-color: #2ba4a6;
    border: 0px;
    border-radius: 2px;
}

.twitter-typeahead, .tt-input {
    display: inline !important;
}


.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 15px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}


/*add new recipe styling*/
#new-recipe-form, .recipe-info {
    width: 80%;
    margin: 0 auto;
}

.blue-subtitle {
    color: #2ba4a6;
    font-family: 'Bitter-Regular';
    font-size: 2em;
}

.ing-header {
    color: #2ba4a6;
    font-family: 'Bitter-Regular';
    font-size: 1.1em;
}

.backtrack {
    color: #2ba4a6;
    padding: 2em;
}

#new-recipe-form>h5, #edit-recipe-form>h5 {
    color: #8e8e8e;
}

/*recipe info styling*/

.recipe-info-menu>br {
    display: none;
}

.recipe-action, .recipe-action>a, .cart-action, .cart-action>a {
    background-color: white;
    border-color: #81e6ae;
    border-radius: 18px;
    border: 3px solid;
    color: #81e6ae;
    font-family: Helvetica;
    font-size: .7em;
    padding: 4px 8px;
}

.recipe-action>a, .cart-action>a {
    border: none;
    padding: 0;
    font-size: 1em;
}

.button-line, .button-line>tbody, .button-line>tr {
    white-space: normal;
    float: right;
    margin-right: 5px;
}


.backtrack {
    margin: 1em 0 0 0;
    padding: 2em 5px 0 5px;
    font-size: 1.2em;
}

.recipe-info>ul, .recipe-info>p {
    color: #8e8e8e;
    font-size: 1.2em;
}

#recipe-info-title {
    padding-top: .4em; 
}


/*cart styling*/
.cart-title {
    margin: 0;
    margin-top: .5em;
}

.cartbox {
    margin-top: 7em;
    width: 60%;
}

.cart-list {
    color: #8e8e8e;
    font-size: 1.2em;
    width: 100%;
    margin: 0;
}

.cart-list>li>hr {
    margin: .5em;
    width: 100%;
}


/*edit cart styling*/

#ingredient-section {
    font-size: 1.1em;
    width: 100%;
}

#cart-ings {
    font-size: 1.1em;
    width: 35%;
    margin: 0 auto;
}

#cart-ings>ul {
    padding-left: 0;
}


.ingredient-field {
    color: #2ba4a6;
    font-family: 'Bitter-Regular';
    margin: 0 auto;
}

.cartitem, .cartqty{
    color: black;
    font-family: Helvetica;
}

#add-more {
    margin: 0 auto;
    padding: 6px 12px;
    text-align: center;
    border-radius: 3px;
    border: none; 
    color: white;
    background-color: #2ba4a6;
}

#edit-ingredient-form {
    margin: 0 auto;
}

.confirmcart {
    padding: 7px 14px;
    font-size: 1.2em;
    margin: 0 auto;
}

.center-button {
    text-align: center;
}

#edit-recipe-form {
    width: 80%;
    margin: 0 auto;
}

.edit-recipe-ingredient-field {
    color: #2ba4a6;
    font-family: 'Bitter-Regular';
    font-size: 1.1em;
}

.edit-recipe-ingredient-field>input {
    color: black;
    font-family: Helvetica;
    margin-right: .3em;
}

#submit-recipe-edit {
    padding: 6px 12px;
    font-size: 1.3em;
}


/*api styling*/

.api-jumbo {
    background: url("/static/images/berries.jpg") center center;
    background-size: cover;
    text-align: center;
    font-family: 'Bitter-Bold';
    color: white;
    margin: 0;
    padding: 150px;
}

h1.titletext.api-title {
    font-size: 6em;
}

.api-info {
    color: #2ba4a6;
}
