<!doctype html>
<html>
<head>
    <title>eatable</title>
    <!-- <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" /> -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <style>
        /*@font-face {
            font-family: 'ChunkFive';
            src: url('/static/fonts/Chunkfive.otf');
        }

        @font-face {
            font-family: 'Bitter-Bold';
            src: url('/static/fonts/Bitter-Bold.otf');
        }

        @font-face {
            font-family: 'Bitter-Regular';
            src: url('/static/fonts/Bitter-Regular.otf');
        }*/
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">eatable</a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if 'User' in session %}
                        <!-- User settings -->
                        <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><div id="settings"><i class='fa fa-gear'></i></div>&nbsp;&nbsp;Settings
                          <span class="caret"></span></button>

                          <ul class="dropdown-menu">
                            <li><a href="/editprofile/{{ session['User'] }}">
                                <i class='fa fa-pencil'></i>&nbsp;&nbsp;Edit Profile
                            </a></li>
                            <li class="divider"></li>

                            <li><a href="/myrecipes/{{ session['User'] }}">
                                <i class='fa fa-cutlery'></i>&nbsp;&nbsp;My Recipes
                            </a></li>
                            <li class="divider"></li>
                            
                            <li><a href="/cart/{{ session['User'] }}">
                                <i class='fa fa-shopping-cart'></i>&nbsp;&nbsp;View Cart
                            </a></li>
                            <li class="divider"></li>

                            <li><a href="/logout">
                                <i class='fa fa-power-off'></i>&nbsp;&nbsp;Log Out
                            </a></li>

                          </ul>
                        </div> <!-- closes dropdown div class -->
                    
                    {% else %}
                        <!-- Login window -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Login</button>

                        <!-- Modal-->
                        <div class="modal fade" id="myModal" role="dialog">
                          <div class="modal-dialog">
                          
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">eatable</h4>
                              </div>
                              <div class="modal-body">
                                <h2 class="login-welcome">Welcome Back!</h2>

                                <form action="/login-confirm" id="login" method="POST">
                                    <button class="signup-icons"><i class="fa fa-envelope-o"></i></button>
                                    <input type="text" name='email' placeholder="Email address"><br><br>

                                    <button class="signup-icons"><i class="fa fa-key"></i></button>
                                    <input type="password" id="password" name="password" placeholder="Password">
                                    
                                    <br><br><br>
                                    <input type="submit" class="get-started-button"> 
                                </form>

                              </div>
                            </div>


                    {% endif %}
            </div>
        </div>
    </nav>

    {% block content %} put your content here {% endblock %}

</body>

    {% block script %} {% endblock %}
</html>