{% extends 'base.html' %}
{% block content %}

    {% if 'User' in session %}
        {% if session['User'] == userid %}
            <br>
        <table class="button-line">
        <tr>
            <td><button class="cart-action"><a href="/myrecipes/{{ userid }}/cart/{{ session['Cart'] }}/editcart">
                <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;Edit Cart
            </a></button><br></td>

            <td><button id="deletcart" class="cart-action">
                <a href="/myrecipes/{{ userid }}/cart/{{ session['Cart'] }}/deletecart">
                    <i class="fa fa-trash-o"></i>&nbsp;&nbsp;&nbsp;Delete Cart
            </a></button><br></td>

            <td><button id="textcart" class="cart-action"><a href="/sms">
                <i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;&nbsp;Text Cart
            </a></button><br></td>
        </tr>
        </table>
            <div class="recipebox cartbox">
                <h1 class="blue-title cart-title">My Cart</h1>
                <hr>
                    {% if cart_ings != [] %}
                        <ul class="cart-list">
                            {% for c in cart_ings %}
                                {% if c.ingredient.measure == '' and c.ingredient.quantity != '' %}
                                        <li>{{ c.ingredient.quantity }} {{ c.ingredient.item }}<hr></li>
                                {% else %}
                                    <li>{{ c.ingredient.item }}<hr></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h3> You don't have any items in your cart yet. </h3>
                    {% endif %}
            {% endif %}
            </div>
    {% else %}

        <h1>You are not authorized to view this page. Mind your own beeswax!</h1>

    {% endif %}

{% endblock %}

{% block script %}
{% endblock %}