{% extends 'base.html' %}
{% block content %}

{% if 'User' in session %}
    {% if session['User'] == userid %}

    <!-- This is the ingredient prototype that will duplicate when the user clicks on the "Add another ingredientsent" button -->
        <div id="template-input" style="display: none;">
             <div>
                <!-- Ingredient Quantity -->
                 <span> Qty: </span>
                 <input type="text" class="cartqty" name="qty" style="width: 50px;">
                 
                 <!-- Ingredient Item -->
                 <span> Item: </span> 
                 <input type="text" class="cartitem" name="item">

                 <!-- Delete Ingredient -->
                 <button type="button" class="deleteing" name="del"><i class="fa fa-trash-o trash-ing"></i></button><hr style="margin: 5px 0; visibility:hidden;" />
             </div>
         </div> 


        <h1 class="blue-title"> Edit Cart </h1>

        <form action="/myrecipes/{{ userid }}/cart/{{ session['Cart'] }}/edit-confirm" method="POST" id="edit-ingredient-form">

        <div id="cart-ings">
            <h3 class="blue-subtitle"> Cart Items </h3>

            <p id="one-ing-msg" style="display: none;">
              Your cart needs to have at least one ingredient.</p>
            <ul>
            <div class="ingredient-field">
                {% if cart_ings != [] %}
                        {% for c in cart_ings %}
                            {% if c.ingredient.measure == '' and c.ingredient.quantity != '' %}

                                <div class="{{ loop.index }}">

                                    <!-- Ingredient Quantity -->
                                    <span> Qty: </span>
                                    <input type="text" class="cartqty" name="qty{{ loop.index }}" value="{{ c.ingredient.quantity }}" style="width: 50px;">

                                    <!-- Ingredient Item -->
                                    <span> Item: </span>
                                    <input type="text" class="cartitem" name="item{{ loop.index }}" value="{{ c.ingredient.item }}">
                                    
                                    <!-- Delete Ingredient -->
                                    <button type="button" class="deleteing" name="{{ loop.index }}">
                                      <i class="fa fa-trash-o trash-ing"></i>
                                    </button><hr style="margin: 5px 0; visibility:hidden;" />

                                  </div> <!-- loop index div -->
                            {% else %}
                                <div class="{{ loop.index }}">

                                  <!-- Ingredient Quantity -->
                                  <span> Qty: </span>
                                  <input type="text" class="cartqty" name="qty{{ loop.index }}" style="width: 50px;">

                                  <!-- Ingredient Item -->
                                  <span> Item: </span>
                                  <input type="text" class="cartitem" name="item{{ loop.index }}" value="{{ c.ingredient.item }}">
                                  
                                  <!-- Delete Ingredient -->
                                  <button type="button" class="deleteing" name="{{ loop.index }}">
                                    <i class="fa fa-trash-o trash-ing"></i>
                                  </button><hr style="margin: 5px 0; visibility:hidden;" />

                                </div> <!-- loop index div -->
                            {% endif %}
                        {% endfor %}
                      </div> <!-- div for ingredient-field -->
                    </ul>
                  </div> <!-- div for #ingredient-section -->
        <div class="center-button"><button type="button" id="add-more">+ Add another ingredient</button></div><br><br><br>
        <p id="cart-ingredient-msg" hidden>
          You can't add any more ingredients to your cart. Baby steps.
        </p>

        
        <!-- Submit edited form -->
        <div class="center-button"><input type="submit" class="confirmcart" value="Submit Cart Changes"></div>
        </form>
    {% else %}
        <h3> You don't have any items in your cart yet. </h3>
  {% endif %} <!-- endif that sees if cart has 0 ingredients -->
{% else %}
        <h1>You can't edit this cart!!</h1>
{% endif %} <!-- end that deals with the right user being in the session -->
{% endif %}
{% endblock %}

{% block script %}
  <script>

  $(".deleteing").on('click', function(evt) {

    // makes sure that there's still at least one ingredient field
    if ($(".ingredient-field").children().length <= 1) {

      $("#one-ing-msg").removeAttr('style');

    } else {

      //finds the index number of the ingredient to be deleted
      //removes all fields that have a class of that index
      delIng = $(this).attr('name');
      console.log("this is delIng: " + delIng);

      $("div").each(function() {
        console.log(this);
        if ($(this).hasClass(delIng)) {
          this.remove();
        }

      });

    }
  });

    $("#add-more").on('click', function() {
       // allows user to add more ingredients to recipe

       //finds the integer of the last ingredient, and adds 1
       latestIngredient = $(".ingredient-field").children().last().attr('class');
       var index = parseInt(latestIngredient) + 1;

       //creates new ingredient field
        var new_ingredient_field = $("#template-input").clone(true);
        new_ingredient_field.removeAttr('id').removeAttr('style');
        new_ingredient_field.appendTo(".ingredient-field");

       // this allows us make unique names for different ingredients
       $('.cartqty', new_ingredient_field).attr('name', 'qty' + index); 
       $('.cartitem', new_ingredient_field).attr('name', 'item' + index); 
       $('.deleteing', new_ingredient_field).attr('name', index);
       $('div', new_ingredient_field).attr('class', index);
       $(new_ingredient_field).contents().unwrap();

       //limits the length of the cart
       if (index >= 50) {
           $("#add-more").prop('disabled', true);
           $("#cart-ingredient-msg").show();
       }

    });

  </script>

{% endblock %}