{% extends 'base.html' %}
{% block content %}

{% if 'User' in session %}

<h1>Add New Recipe</h1>

<form action="/recipe-confirm" method="POST" id="new-recipe-form">
    <h3> Recipe Title: </h3> <input type="text" name="recipetitle" style="width: 300px;"><br><br>

    <div id="ingredient-section">
        <h3> Ingredients: </h3>
        <!-- Provides example as to how to fill out form-->
        Qty: <input type="text" class="qty" name="qty1" placeholder="Ex. 3" style="width: 50px;">
        Measure: <input type="text" class="measure" name="measure1" placeholder="cans">
        Item: <input type="text" class="item" name="item1" placeholder="pinto beans">
        Prep Notes: <input type="text" class="prepnotes" name="prepnotes1" placeholder="drained and rinsed">

        <!-- This is the ingredient prototype that will duplicate when the user clicks on the "Add another ingredient" button -->
        <div class="new-ingredient-field">
            Qty: <input type="text" class="qty" name="qty2" style="width: 50px;">
            Measure: <input type="text" class="measure" name="measure2">
            Item: <input type="text" class="item" name="item2">
            Prep Notes: <input type="text" class="prepnotes" name="prepnotes2">
        </div> <!-- div for .new-ingredient-field -->
    
    </div> <!-- div for #ingredient-section -->
    <button type="button" id="add-more">+ Add another ingredient</button>


    <h3> Instructions: </h3>
    <textarea rows="5" cols="50" name="instructions" placeholder="Write your instructions here."></textarea>

    <h3>Source: (optional) </h3> <input type="text" style="width: 300px;"
    placeholder="i.e. Mom, The Joy of Cooking, allrecipes.com" name="source">

    <h3>Hashtags: </h3>
    <h5>All tags must start with '#'. Please separate hashtags with spaces.</h5>
    <input type="text" name="hashtags" style="width: 400px;"><br><br>
    <input type="submit" class="confirmrecipe" value="Confirm Recipe">
</form>

<script src="https://code.jquery.com/jquery.js"></script>
<script>
    $("#add-more").on('click', function() {
        // allows user to add more ingredients to recipe 
        var new_ingredient = $(".new-ingredient-field").clone();
        $('input', new_ingredient).val('');
        $(new_ingredient[new_ingredient.length-1]).appendTo("#ingredient-section");
        
        // gets the current value of the attribute "name" for the class "qty"
        // then gets the last character, makes it an integer, adds 1, then combines that new number back with qty to create a new name
        // this allows us make unique names for different ingredients
        var currentQtyName = $('.qty', new_ingredient).attr('name');
        $('.qty', new_ingredient).attr('name', 'qty' + ((parseInt(currentQtyName[currentQtyName.length-1]))+1)); 

        var currentMeasureName = $('.measure', new_ingredient).attr('name');
        $('.measure', new_ingredient).attr('name', 'measure' + ((parseInt(currentMeasureName[currentMeasureName.length-1]))+1));

        var currentItemName = $('.item', new_ingredient).attr('name');
        $('.item', new_ingredient).attr('name', 'item' + ((parseInt(currentItemName[currentItemName.length-1]))+1));

        var currentPrepName = $('.prepnotes', new_ingredient).attr('name');
        $('.prepnotes', new_ingredient).attr('name', 'prepnotes' + ((parseInt(currentPrepName[currentPrepName.length-1]))+1)); 

    });
    
    // for later: get js to register new lines
    // $("textarea").focusout( function() {
    //     $("textarea").val().replace(/\r?\n/g, '<br />');
    // });
    // $("#new-recipe-form").on('submit', function(event) {
    //     event.preventDefault;
    //     var instructionsText = $("textarea").val();
    //     console.log('This is instructionsText before: ' + instructionsText)
    //     // console.log("text before the function")
    //     instructionsText = instructionsText.replace(/\r?\n/g, '<br />');
    //     console.log('This is instructionsText after: ' + instructionsText)
    //     $("#new-recipe-form").submit();
    // });

</script>

{% endif %}
{% endblock %}