{% extends 'base.html' %}
{% block content %}

{% if 'User' in session %}


<h1 class="myrecipes">My Recipes</h1>


<button class="newrecipe">
    <a href="/myrecipes/{{ userid }}/addrecipe"><div id="newrecipe"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;New Recipe</div></a>
</button>

<form>
    <input type='text' id='searchbox' style="width: 300px;" placeholder='Search by recipe title, ingredient, or #hashtag'>
    <button class='searchbutton' type='submit'><i class='fa fa-search'></i></button>
</form>

<ul>
{% for recipe in user_recipes %}
    <li>
        <a href="/myrecipes/{{ userid }}/recipe/{{ recipe.recipe_id }}">
            {{recipe.recipe_title}}
        </a>
    </li>
{% endfor %} 
</ul>

{% endif %}
{% endblock %}