{% extends 'base.html' %}
{% block content %}

{% if 'User' in session %}


<h1 class="myrecipes">My Recipes</h1>

<!-- puts userid in a hidden input so javascript can access it later -->
<input type="hidden" id="userinfo" value="{{ userid }}">

<button class="newrecipe">
    <a href="/myrecipes/{{ userid }}/addrecipe"><div id="newrecipe"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;New Recipe</div></a>
</button>

<form id="searchform" action="/myrecipes/{{ userid }}/searchresults" method="GET">
    <input type='text' id='searchbox' style="width: 300px;" placeholder='Search by recipe title, ingredient, or #hashtag'>
    <button type="submit" id='searchbutton'><i class='fa fa-search'></i></button>
</form>

<ul id="recipelist">
{% for recipe in user_recipes %}
    <li>
        <a href="/myrecipes/{{ userid }}/recipe/{{ recipe.recipe_id }}">
            {{recipe.recipe_title}}
        </a>
    </li>
{% endfor %} 
</ul>

{% endif %}
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script>

    function showSearchResults(results) {
        // Display recipes relevant to search query

        
        // takes json-safe string and makes it a weird array
        var array = JSON.parse("[" + results + "]");

        // example of array:  
            // array[0] = 2,Pineapple Fried Rice,0.121585,10,Couscous Salad,0.0607927,1,Hummus,0.0607927
            // array[0][0] = 2,Pineapple Fried Rice,0.607927
            // array[0][0][1] = Pineapple Fried Rice

        var resultListLength = array[0].length;

        $("#recipelist").empty();

        var recipeListString = "";

        for (var i=0; i < resultListLength; i++) {
                    
                recipeListString = recipeListString + "<li><a href='/myrecipes/" + $("#userinfo").val() + 
                                   "/recipe/" + array[0][i][0] + "'>" + array[0][i][1]
                                   + "</a></li>";
                }

        $("#recipelist").html(recipeListString);

    }

    function getSearchResults(evt) {
        // Make an AJAX to get results from user search query

        evt.preventDefault();

        userid = $("#userinfo").val();

        var searchQuery = $("#searchbox").val();

        // strips any hashtags/other punctuation from search query
        // so it doesn't mess up URL
        searchQuery = searchQuery.replace(/[.,-\/#!$%\^&\*;:{}=\-_`~()]/g,"")
        // searchQuery = searchQuery.replace(/\#/g, '');

        // adds '|' between words for multi-word queries
        searchQuery = searchQuery.replace(/\s/g, ' | ');

        $.get("/myrecipes/"+userid+"/searchresults?searchQuery="+searchQuery, showSearchResults);

    }

    //matches query to search input
    var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            matches.push(str);
          }
        });

        cb(matches);
      };
    };



    $.get("/typeahead", function(results) { 
        var userdata = results.userdata; 
        console.log("this is hashtags: "+userdata);

        $("#searchbox").typeahead({},
        {
            name: 'hashtags',
            source: substringMatcher(userdata)
        }
        );

    });


    $("#searchform").on("submit", getSearchResults);

</script>
{% endblock %}