{% extends 'base.html' %}
{% block content %}

    {% if 'User' in session %}
        {% if session['User'] == userid %}
        <div class="recipe-info-menu">
            <a class="backtrack" href="/myrecipes/{{ userid }}">
                <i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;Back to My Recipes
            </a>
            <table class="button-line" style="white-space: normal;">
            <tr>
                <td class="button-div edit-recipe"><button class="recipe-action"><a href="/myrecipes/{{ userid }}/recipe/{{ recipe.recipe_id }}/edit">
                    <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;Edit Recipe
                </a></button></td><br>

                <td class="button-div delete-recipe"><button id="deleterecipe" class="recipe-action">
                    <i class="fa fa-trash-o"></i>&nbsp;&nbsp;&nbsp;Delete Recipe
                </button></td><br>

                <td class="button-div add-to-cart"><button id="cartadd" class="recipe-action"><a href="/myrecipes/{{ userid }}/recipe/{{ recipe.recipe_id }}/addtocart">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Add to Cart
                </a></button></td><br>
            <tr>
            </table>
        </div>
        {% endif %}
    {% endif %}

    <h1 id="recipe-info-title" class="blue-title">{{ recipe.recipe_title }}</h1>

    <div class="recipe-info">
    <h3 class="blue-subtitle">Ingredients: </h3>
    <ul>
    <!-- Doesn't display empty ingredient fields -->
    <!-- Formats fields correctly depending on if they have prep notes -->
        {% for ingredient in ingredients %}
            {% if ingredient.item != '' %}
                <li>
                    {{ ingredient.quantity }} {{ ingredient.measure }}

                        {% if ingredient.prep_notes != '' %}
                            {{ ingredient.item }}, {{ ingredient.prep_notes }} 
                        {% else %}
                            {{ ingredient.item }}
                        {% endif %}
                </li>
            {% endif %}
        {% endfor %} 
    </ul>
    <br>
    <h3 class="blue-subtitle">Instructions: </h3>
        <p style="white-space:pre-wrap;">{{ recipe.instructions }}</p>

    {% if recipe.source %}
        {% if recipe.source != "" %}
            <br>
            <h3 class="blue-subtitle"> Source: </h3>
                    <p id="recipe-source"> {{ recipe.source | urlize }} </p>
        {% endif %}
    {% endif %}
    <br>
    <h3 class="blue-subtitle"> Hashtags: </h3>
        <p>
            {% for recipe_hashtag in recipe_hashtags %}
                #{{recipe_hashtag.hashtags.name}}
            {% endfor %}
        </p>
    </div>

{% endblock %}
{% block script %}
    <script>

        $("#deleterecipe").on('click', function() {
            var reallyDelete = confirm("Are you sure you want to delete this recipe? You can't get it back.");
            if (reallyDelete) {
                window.location.href = "/myrecipes/{{ userid }}/recipe/{{ recipe.recipe_id }}/delete";
            }

        });

    </script>
{% endblock %}