{% extends 'base.html' %}
{% block content %}

<h1 class="myrecipes">We're glad you're here</h1>
<h3 class="tagline">Just a few short questions and you'll be good to go!</h3>
<form action="/signup-confirm" id="signup" method="POST">
    <div class='signup-form'>
        <button class="signup-icons" ><i class="fa fa-envelope-o"></i></button>
        <input type="text" class="signup" id="email" name='email' placeholder="Email address"><br><br>

        <button class="signup-icons"><i class="fa fa-key"></i></button>
        <input type="password" class="signup" id="password1" name="password1" placeholder="Password"><br>
                
        <button class="signup-icons" ><i class="fa fa-plus"></i></button>
        <input type="password" class="signup" id="passwordcheck" name="passwordcheck" placeholder="Confirm Password"><br>

        <button class="signup-icons" ><i class="fa fa-mobile-phone"></i></button>
        <input type="text" class="signup" id="phone" name='phone' placeholder="Mobile Phone"><br><br>

        <h4><input type="submit" value="Let's Get Cooking" class="get-started-button"></h4>
    </div> 

</form>
{% endblock %}

{% block script %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.min.js"></script>
    <script>

        // When browser is ready
        $(function() {

            // Setup form validation on the signup form element
            $("#signup").validate({

              // Specify validation rules 
              rules: {
                    email: {
                      required: true,
                      email: true
                    },
                    password1: {
                        required: true,
                        minlength: 6,
                        maxlength: 12
                    },
                    passwordcheck: {
                        required: true,
                        equalTo: "#password1"
                    },
                    phone: {
                        phoneUS: true
                    }
                },

                // Specify validation error messages
                messages: {
                      email: {
                        required: "We need a real life email address."
                      },
                      password1: {
                        minlength: "Password must be at least 6 characters. You know, that whole security thing."
                      },
                      passwordcheck: {
                        equalTo: "Your passwords don't match. Type carefully."
                      },
                      phone: {
                          phoneUS: "Don't be a troll. Enter a valid US phone number."
                      }
                },

                submitHandler: function(form) {
                    form.submit();
                }

            });
        });

    </script>
{% endblock %}